/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

*{
	font-family: Jetbrains Mono;
	font-size: 18px;
}

window {
	background-color: transparent;
    border-radius: 0px;
    padding: 0px;
    margin: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);
}

#input {
	margin: 10px;
	border-radius: 16px;
	border-bottom: 5px black;
	background-color: white;
	color: black;
}

#inner-box {
	background-color: transparent;
    border-radius: 16px;
}

#outer-box {
	border-radius: 16px;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
	background-color: white;
}

#scroll {
}

#text {
	padding: 5px;
	color: black;
}

/* #entry:nth-child(even){ */
/*     background-color: #404552; */
/* } */

#entry:selected {
	background-color: #0088cc;
    border-radius: 16px;
    color: #0088cc;
}

#entry:focus {
	background-color: #d8d8d8;
    border-radius: 16px;
    color: #d8d8d8;
}

#text:selected {
}
