/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

*{
	font-family: Jetbrains Mono;
	font-size: 18px;
}

window {
	background-color: transparent;
    border-radius: 0px;
    padding: 0px;
    width: 300px;
}

#input {
	margin: 5px;
	border-radius: 16px;
	border-bottom: 5px #FFFFFF;
	background-color: #FFFFFF;
	color: black;
    width: 300px;
}

#inner-box {
	background-color: #dddddd;
    border-radius: 16px;
    width: 300px;
}

#outer-box {
	margin: 5px;
	padding:10px;
	border-radius: 16px;
    width: 300px;
	background-color: #dddddd;
}

#scroll {
}

#text {
	padding: 5px;
    width: 300px;
	color: black;
}

/* #entry:nth-child(even){ */
/*     background-color: #404552; */
/* } */

#entry:selected {
	background-color: #0088cc;
    width: 300px;
    border-radius: 16px;
    color: #0088cc;
}

#entry:focus {
	background-color: #dddddd;
    width: 300px;
    color: #dddddd;
}

#text:selected {
}
